.icon_menu {
  width: 30%;
}

.icon_close {
  width: 2.5%;
}

.icon_sobre {
  width: 25%;
}

.dep_ico {
  width: 10%;
}

.icon_zap {
  width: 30%;
}

.icon_tel {
  width: 10%;
}

.icon_loc {
  width: 10%;
}

.icon_email {
  width: 10%;
}

.icon_fb {
  width: 6%;
}

.icon_insta {
  width: 6%;
}

/*.icon_seta {
  width: 10%;
}*/
